<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> woooof!</title>
    <link rel="stylesheet" type="text/css" href="my.css">
    
</head>
<body><ol>
<center><div style="color: burlywood;  " >
         <h1> Fooo! </h1>
         
    </div></center>
    <div id="desc"><a href="/pizza.html/">

         <li><p> pizza </p></li></a>
    </div>
    <div id=desc>
        <a href="/burger.html/">
         <li> <p> burger </p></li></a>
    </div>
</ol>
    <ul>
    <center><div>
    <li><img class="woof" src="pizza.jpg"><p>pizza</p></li></>
    </div></center>
    <center><div>
        
        <li><a href="/">
        <img class="woof" src="burger.jpg"><p>burger</p><li></center>
    </div>
</ul>
    
</body>
</html>